[Unit]
Description=ComfyUI server
After=network-online.target
Wants=network-online.target

[Service]
User=user
WorkingDirectory=%h/comfy
Environment=PYTHONUNBUFFERED=1
ExecStart=%h/comfy/venv/bin/python %h/comfy/main.py --highvram --use-pytorch-cross-attention
Restart=on-failure

[Install]
WantedBy=multi-user.target
