[Unit]
Description=ComfyUI server
After=network-online.target
Wants=network-online.target

[Service]
User=user
WorkingDirectory=%h/comfy
Environment=PYTORCH_CUDA_ALLOC_CONF=max_split_size_mb:128,garbage_collection_threshold:0.9,expandable_segments:True
ExecStart=%h/comfy/venv/bin/python %h/comfy/main.py --cuda-malloc --use-pytorch-cross-attention
Restart=on-failure

[Install]
WantedBy=multi-user.target
